<header>
  <nav class="navbar" data-bs-target="#navbarNav">
    <div class="logo">
      <img src="/img/logo/LogoTienda.png" alt="Logo de la tienda">
    </div>
    <ul>
      <li><a href="/index.html">INICIO</a></li>
      <li><a href="/products.html">PRODUCTOS</a></li>
      <li><a href="/contact.html">CONTÁCTENOS</a></li>
      <li><a href="/quienes-somos.html">QUIÉNES SOMOS</a></li>
      <li><a href="/location.html">UBICACIÓN</a></li>
    </ul>

    <div class="actions">
      <div class="cart">
        <a href="/cart.html">
          <i class="fas fa-shopping-cart"></i>
          <span id="cart-count">0</span>
        </a>
      </div>
      <div class="history">
        <a href="/purchase-history.html">
          <i class="fas fa-history"></i>
          <span>Historial</span>
        </a>
      </div>
    </div>
  </nav>
</header>